DATABASE_URL=postgresql://username:password@IP:Port/document_intelligence
GEMINI_API_KEY=AQ...
GROQ_API_KEY=gsk_...
OPENAI_API_KEY=sk-proj-...
LANGFUSE_SECRET_KEY=sk-lf-...
LANGFUSE_PUBLIC_KEY=pk-lf-...
LANGFUSE_HOST=https://cloud.langfuse.com